################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/.vs/DesignPatterns/v16/Server/sqlite3
/DesignPatterns/bin/Debug
/.vs
/DesignPatterns/.vs/DesignPatterns/v16
/DesignPatterns/obj/Debug/DesignPatterns.pdb
/DesignPatterns/obj/Debug/DesignPatterns.exe
/DesignPatterns/obj/Debug/DesignPatterns.csproj.FileListAbsolute.txt
/DesignPatterns/DesignPatterns.csproj.user
/DesignPatterns/obj/Release
